@{
    Layout = "~/Views/Layouts/Master.cshtml";
    Theme.AddHtmlClass("body", "app-blank");
}

<!--begin::AuthLayout-->
<div class="d-flex flex-column flex-root">
    <div class="d-flex">
        @RenderBody()
    </div>
</div>
<!--end::AuthLayout-->